/*MARGIN Y PADDING */
.box-1{
    width: 200px;
    height: 200px;
    background: blue;
    
    /*forma resumida de hacer el margin*/
    /*margin: 2em 2em 3em 4em;*/

    /*forma especifica de hacer el margin*/
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
    margin-left: 4em;
}

.box-2{
    width: 200px;
    height: 200px;
    background:yellow;
    border: 2px solid salmon; 
    
    /* Forma resumida para hacer PADDING*/
    padding: 1em 2em 3em 4em;

    /* Forma especifica para hacer PADDING*/
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 4em;
}

.box-2-contenido{
    width: 50px;
    height: 50px;
    background: brown;
}