/*css del formulario*/
/*el secreto meter todo los elementos dentro de cajas div*/

body{
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8,#3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: rgb(136, 189, 222);
    height: 100vh; /*sirve para cambiar la escala del (meta viewport)*/
}

img{
    max-width: 80%;
}

.tarjeta_principal{
    background-color: rgb(65, 13, 161);
    width: 80%;
    height: 450px;
    display: flex;
    margin: 2em;
}

.tarjeta_izquierda{
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #4375b6;
    padding: .5em 0;
}

.tarjeta_derecha{
    width: 80%;
    padding: 1rem;
}

.trjeta_titulo{
    text-transform: uppercase;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.formulario_nombres{
    display: flex;
}

.formulario_campos{
    display: flex;
    flex-direction: column;
}

.formulario__label{
    margin-bottom: .5em;
    text-transform: uppercase;
    font-size: .8rem;
}

.formulario_input, .formulario__textarea{
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    color: inherit;
}

.formulario_submit{
    width: 40%;
    background: #1b8791;
    border: none;
    padding: .8rem;
    border-radius: 10px;
    text-transform: uppercase;
    color: inherit;
}

.form {
    display: flex; /* Usamos flexbox para alinear los elementos en fila */
    gap: 10px; /* Espacio entre los botones */
}

.boton_enviar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(164, 163, 163);
    cursor: pointer;
    background: rgb(6, 99, 17);
    cursor: pointer;
}

.boton_enviar:hover{
    transform: scale(1.05);
    background: rgb(4, 122, 51);
}

.boton_listar{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(164, 163, 163);
    cursor: pointer;
    background: rgb(97, 3, 3);
}

.boton_listar:hover{
    transform: scale(1.05);
    background: rgb(131, 4, 4);

}

.boton_inicio{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(164, 163, 163);
    cursor: pointer;
    background: rgb(3, 97, 30);
}

.boton_inicio:hover{
    transform: scale(1.05);
    background: rgb(4, 122, 51);

}

.footer {
    text-align: center;
    margin-top: 10%;
    padding: 10px 0;
    background-image: radial-gradient(circle, #4334c5, #220691);
    color: rgb(182, 180, 192);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0%;
    font-size: small;
}

.icon{
    width: 30px;
    height: 30px;
}